[submodule "curses/libft"]
	path = curses/libft
	url = https://github.com/VICTORxEVO/libft.git
[submodule "curses/ft_printf"]
	path = curses/ft_printf
	url = https://github.com/VICTORxEVO/ft_printf.git
[submodule "curses/get_next_line"]
	path = curses/get_next_line
	url = https://github.com/VICTORxEVO/get_next_line.git
[submodule "curses/so_long"]
	path = curses/so_long
	url = https://github.com/VICTORxEVO/so_long.git
[submodule "curses/push_swap"]
	path = curses/push_swap
	url = git@github.com:VICTORxEVO/push_swap.git
[submodule "curses/pipex"]
	path = curses/pipex
	url = git@github.com:VICTORxEVO/pipex.git
[submodule "curses/Philosophers"]
	path = curses/Philosophers
	url = git@github.com:VICTORxEVO/Philosophers.git
